.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 새로 추가한 부분 */
#new-tweet {
  display : flex; /*이 부분이 있어서 버튼이 textarea에 붙어서 height이 조절되었다. */
  margin : 10px
}

#new-tweet-content {
  width : 80%;
  height : 100px;
}
#submit-new-tweet {
  width : 20%;
}
#tweet {
  list-style : none;
  border : 1px solid transparent;
  padding : 10px;
  margin : 10p 0px;
  box-shadow : 0 0 10px rgba(0,0,0,.3)
}

